<!-- <p>view works!</p> -->
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center"><!--step13-->
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{productS.productImg}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{productS.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">{{productS.price+0}} </span>
                    <span>{{productS.price}}</span>
                </div>
                <p class="lead">{{productS.description}}</p>
                <p class="lead">Rating: {{productS.rating}}</p>
                <p class="lead">Review: {{productS.review}}</p>
                <p class="lead">{{productS.vendor_name}}</p>
                <p class="lead">Warranty {{productS.warranty}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                <div>
                    <button (click)="deleteProduct()" class="bdelete ms-5">
                        <img class="delimg" src="https://i.postimg.cc/wBsD884z/delete.gif" alt="">
                        Delete
                    </button>

            
                        <a class="bedit" href="product/edit/{{productS.id}}">
                            <img class="editimg" src="https://i.postimg.cc/hvbtVMCN/edit.gif" alt="">
                            Edit
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>